.footer {
    background-color: white;
    width: 100vw;;
    font-family: 'Inconsolata';
    position: fixed;
    bottom: 0px;
}

.logo {
    padding: 3px;
}

.outlinks {
    height: 16px;
    padding: 3px;
}

.separator {
    padding: 3px 8px 3px 8px;
}

.invert {
    filter: invert(100%);
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }
li {
    display: flex;
  }


li:first-child {
    position: absolute;
    left: 3px;
}

li:last-child {
    position: absolute;
    right: 3px;
}

.footerTextLink {
    position: relative;
    bottom: 6px !important;
}