#RenderZeroView {
    width: 100%;
    height: 350px;
    display: flex;
}

#RenderZeroViewInner {
    margin: auto;
    text-align: center;
}

img {
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 25px;
}

#RenderZeroViewInner span {
   display: inline; 
}

#trb {
    max-height: 20px;
    text-align: center;
}

#trb p {
    line-height: 0;
}

label {
    font-size: 12px;
    font-family: 'Inconsolata', monospace;
    position: relative;
}


#viewForm input {
    font-size: 12px;
    width: 30px;
    margin-left: 0px !important;
    margin-top: 15px;
    background-color: black;
    color: white;
    border: 1px white;
    border-style: none none solid none;
    padding: 3px;
    font-family: 'Inconsolata', monospace;
}

#viewForm label {
    top: 2px;
    right: 2px;
}