#RenderZeroView {
    width: 100%;
    height: 350px;
    display: flex;
}

#RenderZeroViewInner {
    margin: auto;
    text-align: center;
}

img {
    max-width: 300px;
    margin: 0 auto;
}

#RenderZeroViewInner span {
   display: inline; 
}


a {
    color: white;
    text-decoration: none;
}

#trb {
    max-height: 20px;
    text-align: center;
}

#trb p {
    line-height: 0;
}

label {
    font-size: 12px;
    font-family: 'Inconsolata', monospace;
    position: relative;
}


#viewForm input {
    font-size: 12px;
    width: 30px;
    margin-left: 0px !important;
    margin-top: 30px;
}